@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #040403;
    --color-secundario: #22D4FD;

    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-kronaone: 'Krona One', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-primario);
    color: #f7f9f7;
    /*height: 100vh;*/
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu_link{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    text-decoration: none;
}

.header_menu_link:hover{
    color: #007bff;
}

.presentacion{
    padding: 6% 15%;
    display: flex; /* coloca los cuadrados uno al lado del otro */
    align-items: center;
    justify-content: space-between;
}

.presentacion_contenido{
    width: 50%;
    display: flex; /* coloca los cuadrados uno al lado del otro */
    flex-direction: column;
    justify-content: space-between;
    gap: 40px; /* agrega espacios iguales entre cada cuadrado */
}

strong {
    color: var(--color-secundario);
}

.titulo-destaque{
    color: var(--color-secundario);
}

.texto-destacado{
    color: #BED754;
    margin: 10px; /* agrega un margen para centrar los cuadrados en la pantalla */
    border: 2px solid black;
    padding: 5px;
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.titulo-blog{
    color: #45FFCA;
    font-size: 2.25rem;
    font-family: var(--fuente-kronaone);
}


.enlaces{
    display: flex; /* coloca los cuadrados uno al lado del otro */
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px; /* agrega espacios iguales entre cada cuadrado */
}

.enlace_link_subtitulo{
    font-family: var(--fuente-kronaone);
    font-size: 1.5rem;
    font-weight: 400;
}

.enlaces_link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: .5rem;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: #f6f6f6;
    text-decoration: none;
    border: 2px solid var(--color-secundario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.enlaces_link:hover{
    background-color: #353232;
    padding: 3%;
    border: 2px solid #0000FF;
    cursor: pointer;
}

.imagen_presentacion {
    width: 50%;
}

.footer{
    background-color: var(--color-secundario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){

    .header{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        gap: 82px;
        padding: 5%;
    }

    .presentacion_contenido{
        width: auto;  
    }

}